<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>videoChatApp</title>
    <link rel="stylesheet" href="style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <!-- DOES NOT GENERATE SEPERATE ROOM -->
    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>
    <!--  -->
</head>

<body>
    <!-- it is used to apply chnages to divison header -->
    <div class="header">
        <!-- TO CHANGE THE COLOR OF VIDEO CHAT FROM BLACK TO WHITE -->
        <div class="logo">
            <h3>Video Chat</h2>
        </div>
    </div>
    <!-- TO CHNAGE DISPLY OF MAIN PAGE -->
    <div class="main">
        <!-- TO CHANGE THE DISLPAY OF MAIN LEFT -->
        <div class="main__left">
            <!-- TO CHNAGE BACKGROUND COLOR AND ALIGNMENT OF VIDEO -->
            <div class="videos__group">
                <!-- ??? -->
                <div id="video-grid">

                </div>
            </div>
            <div class="options">
                <!-- TO ADD TWO OPTION ICONS ON THE LEFT THE STOP VIDEO AND MICROPHONE -->
                <div class="options__left">
                    <div id="stopVideo" class="options__button">
                        <i class="fa fa-video-camera" aria-hidden="true"></i>
                    </div>
                    <div id="muteButton" class="options__button">
                        <i class="fa fa-microphone"></i>
                    </div>
                </div>
                <!-- TO ADD THE ADD USER ICON -->
                <div class="options__right">
                    <div id="inviteButton" class="options__button background_red">
                        <i class="fas fa-user-plus" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="main__right">
            <!-- TO MOVE THE MESSAGE TYPING AREA TO TOP OR BOTTOM -->
            <div class="main__chat_window">
                <div class="messages">

                </div>
            </div>
            <!-- TO ADD THE SPACE TO TYPE THE MESSAGE IN MAIN RIGHT AREA -->
            <div class="main__message_container">
                <input id="chat_message" type="text" autocomplete="off" placeholder="Type message here...">
                <div id="send" class="options__button">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="script.js"></script>

</html>